<div class="container mt-4">
  <div class="row">
    <h4>会員情報編集</h4>
  </div>
  <%= form_for(@customer) do |f| %>
    <div class="row mt-4">
      <div class="col-sm-8">
        <div class="form-group row">
          <%= f.label :氏名, class: "col-sm-3" %>
          <%= f.text_field :last_name, class: "form-control col-sm-3" %>
          <%= f.text_field :first_name, class: "form-control col-sm-3 ml-5" %>
        </div>
        <div class="form-group row">
          <%= f.label :フリガナ, class: "col-sm-3" %>
          <%= f.text_field :last_name_kana, class: "form-control col-sm-3" %>
          <%= f.text_field :first_name_kana, class: "form-control col-sm-3 ml-5" %>
        </div>
        <div class="form-group row">
          <%= f.label :電話番号, class: "col-sm-3" %>
          <%= f.text_field :postal_code, class: "form-control col-sm-3" %>
        </div>
         <div class="form-group row">
          <%= f.label :住所, class: "col-sm-3" %>
          <%= f.text_field :address, class: "form-control col-sm-9" %>
        </div>
        <div class="form-group row">
          <%= f.label :電話番号, class: "col-sm-3" %>
          <%= f.text_field :telephone_number, class: "form-control col-sm-3" %>
        </div>
        <div class="form-group row">
          <%= f.label :メールアドレス, class: "col-sm-3" %>
          <%= f.text_field :email, class: "form-control col-sm-3" %>
        </div>
        <div class="row">
          <%= f.submit "編集内容を保存", class:"btn btn-success col-sm-4 offset-sm-3" %>
          <%= link_to "退会する", withdrawal_customer_path(@customer), class:"btn btn-danger offset-sm-3" %>
        </div>
      </div>
    </div>
  <% end %>
</div>