<div class="container">
  <div class="row">
    <h4 class="offset-sm-1">会員一覧</h4>
  </div>
  <div class="row mt-3">
    <div class="mx-auto col-sm-9">
      <table class="table table-hover text-center">
        <thread>
          <tr>
            <td>会員ID</td>
            <td>氏名</td>
            <td>メールアドレス</td>
            <td>ステータス</td>
          </tr>
        </thread>
        <tbody>
          <% @customers.each do |f| %>
            <tr>
              <td><%= f.id %></td>
              <td>
                <%= link_to (admin_customer_path(f)) do %>
                  <%= f.first_name %><%= f.last_name %>
                <% end %>
              </td>
              <td><%= f.email %></td>
              <td>
                <% if f.is_active == true %>
                  <div class="text-success font-weight-bold">
                    有効
                  </div>
                <% else %>
                  <div class="font-weight-bold">
                    退会
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="row">
     <div class="mx-auto  mt-5">
      <%= paginate @customers %>
     </div>
    </div>
  </div>
</div>