<div class="container mt-4">
  <div class="row">
    <h4 class="offset-1">注文履歴詳細</h4>
  </div>
  <div class="row mt-4">
    <div class="col-sm-7">
      <strong>注文情報</strong>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="col-sm-1 align-middle table-active">注文日</td>
            <td class="col-sm-3"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td class="col-sm-1 align-middle table-active">配送先</td>
            <td class="col-sm-3 align-middle">
              <%= @order.postal_code %></br>
              <%= @order.address %></br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td class="table-active">支払方法</td>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <td class="table-active">ステータス</td>
            <td><%= @order.order_status_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-3">
      <div class="row">
        <strong>請求情報</strong>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="table-active">合計金額</td>
              <td><%= (@order.total_price - @order.postage).to_s(:delimited) %></td>
            </tr>
            <tr>
              <td class="table-active">配送料</td>
              <td><%= @order.postage %></td>
            </tr>
            <tr>
              <td class="table-active">請求金額</td>
              <td><%= (@order.total_price).to_s(:delimited) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-8">
      <strong>注文内容</strong>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.product_orders.all.each  do |product| %>
            <tr>
              <td><%= product.item.name %></td>
              <td><%= (product.price).to_s(:delimited) %></td>
              <td><%= product.amount %></td>
              <td><%= (product.amount * product.price).to_s(:delimited) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>